<div class="container mt-5">
  <div class="drag-container d-flex gap-3 mb-3">
    <button class="btn btn-primary refresh" (click)="refreshTable()">
      Refresh
    </button>
    <div
      class="drag d-flex gap-3"
      (dragover)="allowDrop($event)"
      (drop)="onDrop($event)"
    >
      <div
        *ngFor="let column of droppedColumns; let i = index"
        class="dropped-column"
        draggable="true"
        (dragstart)="onDragStart($event, i)"
      >
        {{ column }}
      </div>
    </div>
  </div>
  <div class="table">
    <table class="table table-striped">
      <thead>
        <tr>
          <div class="properties-all d-flex gap-4 align-items-center">
            <th>
              <input
                type="checkbox"
                class="form-check-input"
                [checked]="selectedValues.length > 0"
                (click)="selectAll($event)"
              />
            </th>
            <i
              class="fa-solid fa-ellipsis-vertical"
              style="cursor: pointer"
              (click)="openActionAll()"
              *ngIf="selectedValues.length > 0 && selectAllData == true"
            ></i>
            <div
              class="gap-2 align-items-center"
              style="cursor: pointer"
              id="actions-all"
            >
              <i
              [ngStyle]="{color: action.color}"
                class="{{ action.icon }}"
                *ngFor="let action of actions"
                (click)="
                  action.actionAll(this.selectedValues, this.paginatedData)
                "
              ></i>
            </div>
          </div>
          <th
            scope="col"
            *ngFor="let data of tableData; let i = index"
            draggable="true"
            (dragstart)="onDragStart($event, i)"
            (dragover)="allowDrop($event)"
            (drop)="onDropToTable($event, i)"
          >
            {{ data.name }}
            <i
              class="fa-solid fa-sort"
              *ngIf="data.sortable"
              id="{{ i }}"
              (click)="sort(data, i)"
              style="cursor: pointer"
            ></i>
          </th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let ticket of paginatedData; let i = index">
          <div class="properties d-flex gap-4 align-items-center">
            <td>
              <input
                type="checkbox"
                class="form-check-input"
                (click)="selectMany(i, $event)"
                [checked]="selectedValues.includes(i)"
              />
            </td>
            <i
              class="fa-solid fa-ellipsis-vertical"
              style="cursor: pointer"
              (click)="openAction(i)"
            ></i>
            <div
              class="actions gap-2 align-items-center"
              style="cursor: pointer"
            >
              <i
              [ngStyle]="{color: action.color}"
                class="{{ action.icon }}"
                *ngFor="let action of actions"
                (click)="action.action(i, paginatedData)"
              ></i>
            </div>
          </div>
          <td class="ticketNo">{{ ticket.ticketNo }}</td>
          <td class="title">{{ ticket.title }}</td>
          <td class="description">{{ ticket.description }}</td>
          <td class="status">{{ ticket.status }}</td>
          <td class="date">{{ ticket.date }}</td>
          <td class="time">{{ ticket.time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination d-flex justify-content-between align-items-center" >
    <div class="pagination-controls d-flex gap-2">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-success">Previous</button>
    
      <button *ngFor="let page of [].constructor(totalPages); let i = index"
              (click)="goToPage(i + 1)"
              [class.active]="currentPage === i + 1" class="btn btn-success">
        {{ i + 1 }}
      </button>
    
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-success" >Next</button>
    </div>
  </div>
</div>