<div class="container mt-5">
  <div class="drag-container d-flex gap-3 mb-3">
    <button class="btn btn-primary refresh" (click)="refreshTable()">
      Refresh
    </button>
    <div
      class="drag d-flex gap-3"
      (dragover)="allowDrop($event)"
      (drop)="onDrop($event)"
    >
      <div
        *ngFor="let column of droppedColumns; let i = index"
        class="dropped-column"
        draggable="true"
        (dragstart)="onDragStart($event, i)"
      >
        {{ column }}
      </div>
    </div>
  </div>
  <div class="table">
    <table class="table table-striped">
      <thead>
        <tr>
          <div class="properties-all d-flex gap-4 align-items-center">
            <th>
              <input
                type="checkbox"
                class="form-check-input"
                [checked]="selectedValues.length > 0"
                (click)="selectAll($event)"
              />
            
            </th>
            <ng-container *ngIf="arrayCommonActions.length > 0">
            <i
              class="fa-solid fa-ellipsis-vertical"
              style="cursor: pointer"
              (click)="openActionAll()"
              *ngIf="selectedValues.length > 0 && selectAllData == true"

            ></i>
          </ng-container>

            <div
              class="gap-2 align-items-center"
              style="cursor: pointer"
              id="actions-all"
            >
            <ng-container *ngFor="let commonAction of arrayCommonActions">
              <i
              [ngStyle]="{color: action.color}"
                class="{{ action.actionKey == commonAction ? action.icon : '' }}"
                *ngFor="let action of actions"
                (click)="
                  action.action(this.selectedValues, this.paginatedData);
                  closeActionAll();
                "
              ></i>
            </ng-container>
            </div>
          </div>
          <th
            scope="col"
            *ngFor="let data of tableData; let i = index"
            draggable="true"
            (dragstart)="onDragStart($event, i)"
            (dragover)="allowDrop($event)"
            (drop)="onDropToTable($event, i)"
          >
            {{ data.name }}
            <i
              class="fa-solid fa-sort"
              *ngIf="data.sortable"
              id="{{ i }}"
              (click)="sort(data, i)"
              style="cursor: pointer"
            ></i>
          </th>
        </tr>
      </thead>
      <tbody class="table-body">
        <ng-container *ngIf="serverConnected == false"><tr *ngFor="let ticket of paginatedData; let i = index">
          <div class="properties d-flex gap-4 align-items-center">
            <td>
              <input
                type="checkbox"
                class="form-check-input"
                (click)="selectMany(i, $event, ticket.actions)"
                [checked]="selectedValues.includes(i)"
              />
            </td>
            <i
              class="fa-solid fa-ellipsis-vertical"
              style="cursor: pointer"
              (click)="openAction(i); closeActionAll()"
            ></i>
            <div
              class="actions gap-2 align-items-center"
              style="cursor: pointer"
            >
            <ng-container *ngFor="let ticketAction of ticket.actions"><i
              [ngStyle]="{color: action.color}"
                class="{{ action.actionKey == ticketAction? action.icon : '' }}"
                *ngFor="let action of actions"
                (click)="action.action(i, paginatedData); closeAction()"
              ></i></ng-container>
              
            </div>
          </div>
          <td *ngFor="let data of tableData; let i = index">{{ ticket[data.sortBy] }}</td>
        </tr></ng-container>
        <ng-container *ngIf="serverConnected == true"><tr *ngFor="let ticket of tickets; let i = index">
          <div class="properties d-flex gap-4 align-items-center">
            <td>
              <input
                type="checkbox"
                class="form-check-input"
                (click)="selectMany(i, $event, ticket.actions)"
                [checked]="selectedValues.includes(i)"
              />
            </td>
            <i
              class="fa-solid fa-ellipsis-vertical"
              style="cursor: pointer"
              (click)="openAction(i); closeActionAll()"

            ></i>
            <div
              class="actions gap-2 align-items-center"
              style="cursor: pointer"
            >
            <ng-container *ngFor="let ticketAction of ticket.actions"><i
              [ngStyle]="{color: action.color}"
                class="{{ action.actionKey == ticketAction? action.icon : '' }}"
                *ngFor="let action of actions"
                (click)="action.action(i, paginatedData); closeAction()"
              ></i></ng-container>
            </div>
          </div>
          <td *ngFor="let data of tableData; let i = index">{{ ticket[data.sortBy] }}</td>
        </tr></ng-container>
        
      </tbody>
    </table>
  </div>
  <div class="pagination d-flex justify-content-between align-items-center" >
    <div class="pagination-controls d-flex gap-2">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-success">Previous</button>
    
      <button *ngFor="let page of [].constructor(totalPages); let i = index"
              (click)="goToPage(i + 1)"
              [class.active]="currentPage === i + 1" class="btn btn-success">
        {{ i + 1 }}
      </button>
    
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-success" >Next</button>
      
    </div>
    <div class="input-perpage">
      <input
        type="number"
        [(ngModel)]="itemsPerPage"
        (ngModelChange)=" serverConnected? updatePerPage() : updatePaginatedData()"
        class="form-control"
        min="1"
        max="10"
      />
    </div>
  </div>
</div>