<div class="container mt-5">
  <div class="drag-container d-flex gap-3 mb-3">
    <button class="btn btn-primary refersh">Refersh</button>
    <div class="drag  d-flex gap-3"  (dragover)="allowDrop($event)" 
    (drop)="onDrop($event)"  >
    <div *ngFor="let column of droppedColumns" class="dropped-column ">
      {{ column }}
    </div>
  </div>
  </div>
  <div class="table">
    <table class="table table-striped">
      <thead>
        <tr>
          <div class="properties d-flex gap-4 align-items-center">
            <th>
              <input type="checkbox" class="form-check-input" />
            </th>
            <i
              class="fa-solid fa-ellipsis-vertical"
              style="cursor: pointer"
              (click)="openActionAll()"
            ></i>
            <div
              class="actions-all gap-2 align-items-center"
              style="cursor: pointer"
            >
              <i class="fa-solid fa-xmark"></i>
              <i class="fa-solid fa-check" style="color: green"></i>
              <i class="fa-solid fa-trash" style="color: red"></i>
            </div>
          </div>
          <th scope="col" *ngFor="let data of tableData; let i = index" draggable="true" 
          (dragstart)="onDragStart($event, i)">
            {{ data.name }}
            <i
              class="fa-solid fa-sort"
              *ngIf="data.sortable"
              id="{{i}}"
              (click)="sort(data, i)"
              style="cursor: pointer"
            ></i>
          </th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let ticket of tickets; let i = index">
          <div class="properties d-flex gap-4 align-items-center">
            <td>
              <input
                type="checkbox"
                class="form-check-input"
              />
            </td>
            <i
              class="fa-solid fa-ellipsis-vertical"
              style="cursor: pointer"
              (click)="openAction(i)"
              
            ></i>
            <div
              class="actions gap-2 align-items-center"
              style="cursor: pointer"
              
            >
              <i class="fa-solid fa-xmark" (click)="rejectAction(i)"></i>
              <i
                class="fa-solid fa-check"
                style="color: green"
                (click)="acceptAction(i)"
              ></i>
              <i
                class="fa-solid fa-trash"
                style="color: red"
                (click)="deleteAction(i)"
              ></i>
            </div>
          </div>
          <td #ticketNo>{{ ticket.ticketNo }}</td>
          <td #title>{{ ticket.title }}</td>
          <td #description>{{ ticket.description }}</td>
          <td #status>{{ ticket.status }}</td>
          <td #date>{{ ticket.date }}</td>
          <td #time>{{ ticket.time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="limit"
    [totalRecords]="totalDocuments"

    
    
  ></p-paginator> -->
  

</div>
